.jumbotron {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: rgb(247, 15, 216);
  margin-bottom: 10px;
  background-color: black;
 
}
header{
  font-family: 'Dokdo', cursive; 
  font-size: 4rem;
}
p{
  font-family: 'Dokdo', cursive;
}

